{% extends 'head.html' %}

{% block head %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

{% endblock %}

{% block body %}

    <header>
        <span class="title"><a href="/">バーチャルお母さん</a></span>
        <br>
        フォローしてくれないとDMが送れなくて寂しいよ！
    </header>
    <article>

        {% block twitter %}
            <p class="twitter_url"><a href="https://twitter.com/virtual_mother/" target="_blank">
                お母さんのTwitter&nbsp;<i class="fab fa-twitter-square"></i>
            </a></p>
            <br><br>
        {% endblock %}

        {% block article %} {% endblock %}

        {% block go_home %}
            {# <p class="go_home"><a href='/user'><i class="fas fa-home"></i>&nbsp;ホームに戻る</a></p> #}
        {% endblock %}

    </article>
    <footer>
        <div class='logout'><a href='/logout'>ログアウト&nbsp;<i class='fas fa-cat'></i></a></div>
        <div><a href='https://github.com/guralin/virtual_mother'>&copy; 2018 Virtual Mother</a></div>
    </footer>

{% endblock %}



