{% extends 'head.html' %}

{% block head %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

{% endblock %}

{% block body %}

    <header>
        <span class="title"><a href="/">バーチャルお母さん</a></span>
    </header>
    <article>
        {% block article %}
            {% block go-home %}
                <p class="go_home"><a href='/user'><i class="fas fa-home"></i>&nbsp;ホームに戻る</a></p>
            {% endblock %}
        {% endblock%}
    </article>
    <footer>
        <div>&copy; 2018 Virtual Mother</div>
    </footer>

{% endblock %}
