{% extends 'body.html' %}

{% block article %}

    <div class="post_text">

        <p><span>{{ user_name }}</span></p>

        <p>
            {% if hour %}

                毎朝&nbsp; {{ hour }}時 {{ minute }}分 &nbsp;にツイートするから起きてね

            {% else %}

                起こしてほしい時は言ってね

            {% endif %}
        </p>

    </div>

<br>
<br>
<br>
<br>
<br>

{% endblock %}

{% block go_home %}

    <p class="go_home"><a href='/user'><i class="fas fa-home"></i>&nbsp;ホームに戻る</a></p>

{% endblock %}



