{% extends 'body.html' %}

{% block article %}

    <div class="post_text">

        <p><span>{{ user_name }}</span>
    {% if message %}
        </p>
        <p>{{ message }}</p>
    {% else %}
            </t>&nbsp;
            {% if hour %}
                登録できたよ
            {% else %}
                は登録済みだよ
            {% endif %}
        </p>

        <p>
            毎朝
            {% if hour %}
                &nbsp; {{ hour }}時 {{ minute }}分 &nbsp;に
            {% endif %}
            ツイートするから起きてね
        </p>
    {% endif %}

    </div>

<br>
<br>
<br>
<br>
<br>

{% endblock %}

{% block go_home %}

    <p class="go_home"><a href='/user'><i class="fas fa-home"></i>&nbsp;ホームに戻る</a></p>

{% endblock %}



