{% extends 'body.html' %}

{% block twitter %}

    {{ super() }}

{% endblock %}

{% block article %}

    <p class="twitter_url"><a href="https://twitter.com/virtual_mother/" target="_blank">お母さんのTwitter&nbsp;<i class="fab fa-twitter-square"></i></a></p>
<br>
<br>
<br>
        <div class="post_text">

            <p><span>{{ user_name }}</span></t>&nbsp;
                {% if user_id %}
                    登録できたよ
                {% else %}
                    登録済みだよ
                {% endif %}
            </p>
            <p>毎朝７時にツイートするから起きてね</p>
        </div>
<br>
<br>
<br>
<br>
<br>

{% endblock %}

{% block go_home %}

    {{ super() }}

{% endblock %}



