{% extends 'head.html' %}

{% block body %}

    <body class="color">
    <div class="bubble-1">
    <div class="bubble-2">
    <div class="bubble-3">
    <div class="bubble-4">
    <div class="bubble-5">
    <div class="bubble-6">
    <div class="bubble-7">
<br>
        <article class="tap"><a href="/user"><div class="tap">
            <br><br><span>バーチャルお母さん</span>
            <br><br>を呼んでみよう！！！
            <br><br><br>画面をTAP</div></a>
        </article>
<br>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}
