{% extends 'body.html' %}

{% block article %}

    <p>
        {{ user_name }}
    </p>
    <p>
        {% if get_up_text=="未設定" %}
        まだ、{{ user_name }}の起きる時間がわからないよ！<br><br>
        起きたい時間を教えてね！
        {% else %}
        今は{{get_up_text}}に起こすことになってるよ！<br><br>
        起きる時間を変更する？
        {% endif %}
    </p>
<br>
    <form action='/register' method='POST'>
        <p><input type='radio' name='yesno' value='no' class='radio'>&nbsp;&nbsp;起こさないで</p>
        <p><input type='radio' name='yesno' value='yes' checked class='radio'>&nbsp;
            <select name='hour' class='button'>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7' selected>7</option>
                <option value='8'>8</option>
                <option value='9'>9</option>
                <option value='10'>10</option>
                <option value='11'>11</option>
                <option value='12'>12</option>
                <option value='13'>13</option>
                <option value='14'>14</option>
                <option value='15'>15</option>
                <option value='16'>16</option>
                <option value='17'>17</option>
            </select>
            時
            <select name='minute' class='button'>
                <option value='0'>00</option>
                <option value='10'>10</option>
                <option value='20'>20</option>
                <option value='30'>30</option>
                <option value='40'>40</option>
                <option value='50'>50</option>
            </select>
            分
        </p>
        <p>に起こしてもらう</p>
        <input type='submit' value='登録' class='button'>
    </form>
    <br>
    <form action='/todoapp'>
        <button>朝連絡してほしいことはコチラで教えてね</button>
    </form>
{% endblock %}



