{% extends 'body.html' %}

{% block article %}

    <p class="twitter_url"><a href="https://twitter.com/virtual_mother/" target="_blank">
        お母さんのTwitter&nbsp;<i class="fab fa-twitter-square"></i>
    </a></p>
<br>
<br>
    <div>
        {{ user_name }} &nbsp;毎日ちゃんと起きてる？
    </div>
<br>
    <div>
        7時に起こそうか？
    </div>
    <div>
        <button onclick="location.href='/register'" class="button">起こしてもらう</button>
    </div>

{% endblock %}

<!--
    <form action="{{url_for('do_register')}}" method="POST">
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="hidden" name="user_name" value="{{user_name}}">

        <button class="button">起こしてもらう</button>
    </form>
</div>
    <h2>現在の時刻をツイートしてみよう (^<span class="red">_</span>^)y
    <button onclick="location.href='post'" class="button">投稿する</button></h2>
<br>
<br>
    <h2>友達に時間を教えてあげよう</h2>
    <form action="/reply" method="POST">
        <p class="explain">友達のTwitterユーザー名：<i class="fas fa-at"></i>
        <input type="text" name="reply_name" class="form">
        <input type="submit" value="投稿する" class="button"></p>
    </form>
<br>
    <h2>AM7:00目覚まし時計に自分のユーザー名を登録しよう</h2>
    <form action="/register" method="POST">
        <p class="explain">自分のTwitterユーザー名：<i class="fas fa-at"></i>
        <input type="text" name="user_name" class="form">
        <input type="submit" value="登録する" class="button"></p>
    </form>

<br>
<br>
<br>
-->



