<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>投稿しよう！！！ - バーチャルお母さん</title>
    <link rel="shortcut icon" href="../static/img/mother.png">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>
    <header>
        <span class="title">バーチャルお母さん</span>
    </header>
    <article>
<p class="twitter_url"><a href="https://twitter.com/virtual_mother/">公式Twitterアカウント @virtual_mother</a></p>
<br>
<br>
    <h2>現在の時刻をツイートしてみよう (^<span class="red">_</span>^)/
    <button onclick="location.href='post'" class="button">投稿する</button></h2>
<br>
<br>
    <h2>友達に現在の時刻を教えてあげよう</h2>
    <form action="/reply" method="POST">
        <p class="explain">友達のTwitterユーザー名：＠
        <input type="text" name="reply_name" class="form">
        <input type="submit" value="投稿する" class="button"></p>
    </form>
<br>
    <h2>AM7:00目覚まし時計に自分のユーザー名を登録しよう</h2>
    <form action="/register" method="POST">
        <p class="explain">自分のTwitterユーザー名：＠
        <input type="text" name="user_name" class="form">
        <input type="submit" value="登録する" class="button"></p>
    </form>

<br>
<br>
<br>

    </article>
    <footer>
        <div>&copy; 2018 Virtual Mother</div>
    </footer>
</body>
</html>
