<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>投稿しよう！！！ - バーチャルお母さん</title>
    <link rel="shortcut icon" href="../static/img/mother.png">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>
    <header>バーチャルお母さん</header>
    <article>
<br>
<br>
<br>
    <span class="post_recommend">Twitterに投稿しよう (^<span class="red">_</span>^)/ →
    <button onclick="location.href='post'" class="post_button">投稿する</button></span>

    <form action="/reply" method="POST">
        <p class="post_recommend">Twitterユーザー名：＠
        <input type="text" name="reply_name" class="reply_name">
        <input type="submit" value="replyを送る" class="post_button"></p>
    </form>

    <form action="/register" method="POST">
<p>ユーザー名を登録しましょう！！！</p>
        <p class="post_recommend">Twitterユーザー名：＠
        <input type="text" name="user_name" class="reply_name">
        <input type="submit" value="ユーザー名を登録する" class="post_button"></p>
    </form>

<br>
<br>
<br>
<br>
<br>
<br>

    </article>
    <footer>
        <div>&copy; 2018 Virtual Mother</div>
    </footer>
</body>
</html>
