<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>投稿しました - バーチャルお母さん</title>
    <link rel="shortcut icon" href="../static/img/mother.png">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>
    <header>バーチャルお母さん</header>
    <article>
<br>
<br>
<br>
        <div class="post_text">『{{post_text}}』と投稿しました！！！</div>
<br>
<br>
<br>
<br>
<br>
<br>
    </article>

    <footer>
        <div>&copy; 2018 Virtual Mother</div>
    </footer>
</body>
</html>

