<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>登録しました - バーチャルお母さん</title>
    <link rel="shortcut icon" href="../static/img/mother.png">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>
    <header>
        <span class="title"><a href="/">バーチャルお母さん</a></span>
    </header>
    <article>
        <p class="twitter_url"><a href="https://twitter.com/virtual_mother/">公式Twitterアカウント @virtual_mother</a></p>
<br>
<br>
<br>
        <div class="post_text">
            <p><span>@{{user_name}}さん</span></t>&nbsp;登録完了しました。</p>
            <p>毎朝７時に目覚ましのツイートをします。</p>
        </div>
<br>
<br>
<br>
<br>
<br>
        <p class="go_home"><a href="/"><<　ホームに戻る</a></p>
    </article>

    <footer>
        <div>&copy; 2018 Virtual Mother</div>
    </footer>
</body>
</html>

